<div class="banner-startup" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner_startup.jpeg', id: 'banner'; %>);">
  <div class="banner-content">
    <h1><%= @startup.name%></h1>
  </div>
</div>

<div class="wrapper", id="description">
  <% if @startup.name == 'Comet' %>
    <h3 class="startup_title"> Chief Marketing Officer Chez Comet</h3>
  <% elsif @startup.name == 'Side' %>
    <h3 class="startup_title"> Product manager chez Side</h3>
  <% elsif @startup.name == 'Doctrine' %>
    <h3 class="startup_title"> Développeur Back-end chez Doctrine</h3>
  <%end %>
  <div class="container presentation_startup">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-4">
        <div class="presentation_startup">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'jobs.jpeg' %>);">
            <div class="card-description">
              <h2>Quel est son job ?</h2>
            </div>
            <a href="#myModaljobs" class="btn btn-lg btn-primary card-link" data-toggle="modal"></a>                <!-- Modal HTML -->
            <div id="myModaljobs" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" id= "btn_yt" class="close fancybox-close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('myModaljobs').style.display='block'">&times;</button>
                    <h4 class="modal-title">Son métier en quelques mots </h4>
                  </div>
                  <div class="modal-body">
                    <% if @startup.name  == 'Comet Sales'%>
                      <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/GM9ZHkMDmds?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                    <% elsif @startup.name  == 'Comet product'%>
                    <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/FW19SnMq4OE?rel=0" frameborder="0" allowfullscreen></iframe>
                    <% elsif @startup.name  == 'Comet Growth'%>
                    <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/FW19SnMq4OE?rel=0" frameborder="0" allowfullscreen></iframe>
                    <% elsif @startup.name == 'Doctrine Dev Back'%>
                     <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/auon4iQdX4w?rel=0" frameborder="0" allowfullscreen></iframe>>
                   <% else @startup.name == 'Side' %>
                    <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0" frameborder="0" allowfullscreen></iframe>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-offset-2 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'culture.jpeg' %>);">
          <div class="card-description">
            <h2>Pourquoi <%= @startup.name %> ?</h2>
          </div>
          <a href="#myModalculture" class="btn btn-lg btn-primary card-link" data-toggle="modal"></a>                <!-- Modal HTML -->
          <div id="myModalculture" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">La culture </h4>
                </div>
                <div class="modal-body">
                  <% if @startup.name  == 'Comet sales'%>
                    <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/JRGfTCay0aI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <% elsif @startup.name  == 'Comet Product'%>
                   <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/R5kHCrlTekI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <% elsif @startup.name == 'Doctrine Dev Back'%>
                   <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/PP4GAgNba8E?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <% else @startup.name == 'Side' %>
                    <iframe id= "iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xs-12 col-md-12">
        <h3 class="startup_description">Recevez les offres d'emplois de cette startup par email</h3>
      </div>
    </div>
    <section class="home-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 newsletter_margin">
            <div class="single">
              <div class="input-group">
                <%= simple_form_for (@form_newsletter) do |f| %>
                  <%= f.input :email, class: 'form-control' %>
                  <%= f.submit "Valider", class: "btn btn-theme stylebutton", html: {id: :sweet} %>
                <% end %>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
 </div>
</div>
