
<!-- Start of the banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'lion_banner.png', id: 'banner'%>);">
  <div class="banner-content">
    <h1>Lion Discover</h1>
    <span id="banner-text" class = "typed_style"></span>
    <br>
    <a class="btn btn-primary btn-lg", href="#discover", id ="button-style">Découvrir</a>
  </div>
</div>
<!-- End of the banner -->

<!-- Beginning of the presentation block -->
<div class="wrapper", id="description">
  <h3 class= "title_presentation">A propos</h3>

  <div class="container presentation">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="content-left presentation">
          <ul>
            <li><i class="fas fa-search"></i>Découvrez facilement votre future startup</li>
            <li><i class="fas fa-video"></i>Une vidéo pour découvrir le quotidien des employés</li>
            <li><i class="fas fa-users"></i>Un moyen simple de rester en contact avec la startup qui vous fait rêver</li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs col-sm-6 col-md-offset-2 col-md-3">
        <%= image_tag "img_wrapper.gif", id: 'img-wrapper'%>
      </div>
    </div>
  </div>
</div>

<!-- End of the presentation block-->

<!-- Video block -->
<div class="wrapper-video", id= "discover">
  <div class="container">
    <div class="row">
      <h3 class= "title_presentation", id="title_video">Nos startups</h3>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'comet-logo.jpg' %>);">
          <div class="card-description">
            <h2>Comet</h2>
          </div>
          <%= link_to '', startup_path(1), class: 'card-link' %>
          </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'side.png' %>);">
          <div class="card-description">
            <h2>Side</h2>
          </div>
          <%= link_to '', startup_path(2), class: 'card-link' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'doctrine.png' %>);">
          <div class="card-description">
            <h2>Doctrine</h2>
          </div>
          <%= link_to '', startup_path(3), class: 'card-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
